h6{
  font-size: 8px;
  color: gray;
  text-align: center;

  
}

a {
font-size: 30px;
text-align: center;
}


body {
  background-color: lightskyblue;

text-align: center;
}

img {
  float: center;
  
  margin: 10px;
  border-color: #2d8feb;
  border-width: 15px;
  border-style: solid;
  border-radius: 10px;
  height: 250px;

}

p {
  text-align: center;
  
}
h1 {
  text-align: center;
  
}
h2{
  
  text-align: center;
}
h3{
 
  text-align: center;
}
