a {
font-size: 30px;
text-align: center;
}


body {
  background-color: #60cdf1;

text-align: center;
}

img {
  float: center;
  
  margin: 30px;
  border-color: #2d8feb;
  border-width: 15px;
  border-style: solid;
  border-radius: 10px;
  height: 250px;

}

p {
  text-align: center;
  
}
h1 {
  text-align: center;
  
}
h2{
  
  text-align: center;
}
h3{

  text-align: center;
}